@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Inter:wght@100..900&display=swap');
.img{
    position: absolute;
    mix-blend-mode: multiply;
}

@keyframes flyIn {
    0% {
        transform: translate(-100%, -100%);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 0.5;
    }
}

/* @keyframes growIn {
    0% {
        transform: scale(0.1) translate(0, 0); 
        opacity: 0; 
    }
    100% {
        transform: scale(1) translate(0, 0); 
        opacity: 0.5; 
    }
} */


.circle{
    position: absolute;
    opacity: 0.5;
    transition: transform 1s ease, opacity 1s ease;
    transform: translateY(calc(var(--scrollY) * 0.1));
    animation: flyIn 1s forwards;
    /* animation: growIn 1s forwards; */
}


.circleBig1, 
.circleBig2{
    z-index: 6;
    transform: translateY(calc(var(--scrollY) * 0.1));
}
.circleBig1{
    position: absolute;
    top: 6%;
    left: 27%;
}
.circleBig2{
    position: absolute;
    top: 58%;
    left: 22%;
}

.circleMs1,
.circleMs2,
.circleMs3{
    z-index: 2;
    transform: translateY(calc(var(--scrollY) * 0.1));
}
.circleMs1{
    position: absolute;
    top: 21%;
    left: 41%;
}
.circleMs2{
    position: absolute;
    top: 51%;
    left: 47%;
}
.circleMs3{
    position: absolute;
    top: 63%;
    left: 63%;
}

.circleMedium1,
.circleMedium2,
.circleMedium3{
    z-index: 4;
    transform: translateY(calc(var(--scrollY) * 0.2));
}
.circleMedium1{
    position: absolute;
    top: 40%;
    left: 34.3%;
}
.circleMedium2{
    position: absolute;
    top: 23%;
    left: 54%;
}
.circleMedium3{
    position: absolute;
    top: 72%;
    left: 50%;
}

.circleSmall1,
.circleSmall2,
.circleSmall3,
.circleSmall4{
    z-index: 9;
    transform: translateY(calc(var(--scrollY) * 0.2));
}
.circleSmall1{
    position: absolute;
    top: 32%;
    left: 29%;
}
.circleSmall2{
    position: absolute;
    top: 66%;
    left: 39%;
}
.circleSmall3{
    position: absolute;
    top: 39%;
    left: 66%;
}
.circleSmall4{
    position: absolute;
    top: 52%;
    left: 58%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 20;
    /* gap: 3vh; */
}

.h1 {
    color: #6C1196;
    text-align: center;
    width: 721px;
    height: 153px;
  
    text-shadow: 20px 40px 30px rgba(0, 0, 0, 0.35);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.15);
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.563rem;
    gap: 3vh;
    margin-bottom: 8%;
}
  
.h2 {
    align-self: stretch;
    color: #000;
    text-align: right;
    text-shadow: 20px 40px 30px rgba(0, 0, 0, 0.35);
    font-size: 2.313rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.563rem;
}

/* .circleBig1{
    position: absolute;
    top: 10%;
    left: 28%;
}

.circleMs1{
    position: absolute;
    top: 25%;
    left: 40.3%;
}

.circleSmall1{
    position: absolute;
    top: 36%;
    left: 29%;
}

.circleMedium1{
    position: absolute;
    top: 41.8%;
    left: 34.3%;
}

.circleBig2{
    position: absolute;
    top: 58%;
    left: 24%;
}

.circleMedium2{
    position: absolute;
    top: 32.3%;
    left: 53.3%;
}

.circleMs2{
    position: absolute;
    top: 49%;
    left: 46.4%;
}

.circleSmall2{
    position: absolute;
    top: 65%;
    left: 42%;
}

.circleSmall3{
    position: absolute;
    top: 40%;
    left: 67%;
}

.circleSmall4{
    position: absolute;
    top: 53%;
    left: 57.8%;
}

.circleMedium3{
    position: absolute;
    top: 70%;
    left: 50%;
}

.circleMs3{
    position: absolute;
    top: 65%;
    left: 62%;
} */