@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Inter:wght@100..900&display=swap');
.img{
    position: absolute;
    mix-blend-mode: multiply;
}

.circle{
    position: absolute;
    opacity: 0.5;
    transform: translateY(calc(var(--scrollY) * 0.2));
}

.circleBig1{
    position: absolute;
    top: 7%;
    left: 28%;
}

.circleMs1{
    position: absolute;
    top: 22%;
    left: 40.3%;
}

.circleSmall1{
    position: absolute;
    top: 33%;
    left: 29%;
}

.circleMedium1{
    position: absolute;
    top: 38.8%;
    left: 34.3%;
}

.circleBig2{
    position: absolute;
    top: 55%;
    left: 24%;
}

.circleMedium2{
    position: absolute;
    top: 29.3%;
    left: 53.3%;
}

.circleMs2{
    position: absolute;
    top: 46%;
    left: 46.4%;
}

.circleSmall2{
    position: absolute;
    top: 62%;
    left: 42%;
}

.circleSmall3{
    position: absolute;
    top: 37%;
    left: 67%;
}

.circleSmall4{
    position: absolute;
    top: 50%;
    left: 57.8%;
}

.circleMedium3{
    position: absolute;
    top: 67%;
    left: 50%;
}

.circleMs3{
    position: absolute;
    top: 62%;
    left: 62%;
}


.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    /* gap: 3vh; */
}

.h1 {
    color: #6C1196;
    text-align: center;
    width: 721px;
    height: 153px;
  
    text-shadow: 4px 7px 7px rgba(0, 0, 0, 0.40);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.15);
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 25px;
    gap: 3vh;
    margin-bottom: 8%;
}
  
.h2 {
    align-self: stretch;
    color: #000;
    text-align: right;
    text-shadow: 4px 7px 7px rgba(0, 0, 0, 0.40);
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 9px;
}

/* .circleBig1{
    position: absolute;
    top: 10%;
    left: 28%;
}

.circleMs1{
    position: absolute;
    top: 25%;
    left: 40.3%;
}

.circleSmall1{
    position: absolute;
    top: 36%;
    left: 29%;
}

.circleMedium1{
    position: absolute;
    top: 41.8%;
    left: 34.3%;
}

.circleBig2{
    position: absolute;
    top: 58%;
    left: 24%;
}

.circleMedium2{
    position: absolute;
    top: 32.3%;
    left: 53.3%;
}

.circleMs2{
    position: absolute;
    top: 49%;
    left: 46.4%;
}

.circleSmall2{
    position: absolute;
    top: 65%;
    left: 42%;
}

.circleSmall3{
    position: absolute;
    top: 40%;
    left: 67%;
}

.circleSmall4{
    position: absolute;
    top: 53%;
    left: 57.8%;
}

.circleMedium3{
    position: absolute;
    top: 70%;
    left: 50%;
}

.circleMs3{
    position: absolute;
    top: 65%;
    left: 62%;
} */