.projectWrap{
    padding: 10vh 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    row-gap: 10vh;
    justify-items: center;
}

.projects{
    color: #000;
    text-align: center;
    text-shadow: 4px 7px 7px rgba(0, 0, 0, 0.40);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 19.2px;
    padding-top: 6vh;
}

.epicEatsImg{
    grid-row: 1;
    grid-column: 1;
    height: auto;
    width: 100%;
    margin-left: 10vw;
}

.epicEatsInfo{
    grid-row: 1;
    grid-column: 2;
    border: 2px solid #000;
    width: 500px;
}

.portfolioInfo{
    grid-row: 2;
    grid-column: 1;
    border: 2px solid #000;
    width: 500px;

}

.portfolioImg{
    grid-row: 2;
    grid-column: 2;
    height: auto;
    width: 100%;
    margin-right: 10vw;

}

.ceresDamImg{
    grid-row: 3;
    grid-column: 1;
    height: auto;
    width: 100%;
    margin-left: 10vw;
}

.ceresDamInfo{
    grid-row: 3;
    grid-column: 2;
    border: 2px solid #000;
    width: 500px;
}